<h1>Add New Vacancy</h1>

<form action="/admin/vacancy/add" method="POST" class="form-with-editor">
    <div class="input-field">
        <input placeholder="Vacancy Title" name="title" id="title" type="text" required class="validate">
        <label for="title">Vacancy Title</label>
        <span class="helper-text" data-error="Fill Title"></span>
    </div>
    <div class="input-field">
        <input placeholder="Salary Range" name="salary" id="salary" type="number" required class="validate">
        <label for="title">Salary Range</label>
        <span class="helper-text" data-error="Fill Salary Range"></span>
    </div>
    <div class="input-field">
        <select name="locations" multiple id="location">
            {{{selectOptions 'locations' data.locations}}}
        </select>
        <label for="location">Location</label>
    </div>
    <div class="spacer"></div>

    <div class="input-field">
        <select name="vacancyType" id="vacancyType">
            {{{selectOptions 'vacancyTypes' data.vacancyType}}}
        </select>
        <label for="vacancyType">Vacancy Type</label>
    </div>
    <div class="spacer"></div>
    <label for="text">Vacancy Text</label>
    <div class="spacer-md"></div>
    <div id="editorjs" class="editorjs"></div>
    <div class="spacer"></div>

    {{!-- <div class="input-field">
        <textarea placeholder="Vacancy Text" name="text" id="text" type="text" required class="editor-textarea"></textarea>
        <label for="text">Vacancy Text</label>
        <span class="helper-text" data-error="Fill Text"></span>
    </div> --}}
    <input type="hidden" name="text" id="text" type="text" required class="editor-textinput">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Post Vacancy</button>
</form>
<div class="spacer"></div>
