<h1>Add New Vacancy</h1>

<form action="/admin/vacancy/add" method="POST">
    <div class="input-field">
        <input placeholder="Vacancy Title" name="title" id="title" type="text" required class="validate">
        <label for="title">Vacancy Title</label>
        <span class="helper-text" data-error="Fill Title"></span>
    </div>
    <div class="input-field">
        <input placeholder="Salary Range" name="salary" id="salary" type="number" required class="validate">
        <label for="title">Salary Range</label>
        <span class="helper-text" data-error="Fill Salary Range"></span>
    </div>
    <div class="input-field">
        <select name="locations" multiple id="location">
            <option value="" disabled>Choose your option</option>
            <option value="Kharkov, Ukraine">Kharkov, Ukraine</option>
            <option value="Kiev, Ukraine">Kiev, Ukraine</option>
            <option value="Wrozlav, Poland">Wrozlav, Poland</option>
            <option value="London, UK">London, UK</option>
            <option value="New York, US">New York, US</option>
            <option value="Los Angeles, US">Los Angeles, US</option>
        </select>
        <label for="location">Location</label>
    </div>
    <div class="spacer"></div>

    <div class="input-field">
        <select name="vacancyType" id="vacancyType">
            <option value="" disabled>Choose your option</option>
            <option value="Remote - Full Time">Remote - Full Time</option>
            <option value="Remote - Part Time">Remote - Part Time</option>
            <option value="Office - Full Time">Office - Full Time</option>
            <option value="Office - Part Time">Office - Part Time</option>
        </select>
        <label for="vacancyType">Vacancy Type</label>
    </div>
    <div class="spacer"></div>
    <div class="input-field">
        <textarea placeholder="Vacancy Text" name="text" id="text" type="text" required class="validate materialize-textarea"></textarea>
        <label for="text">Vacancy Text</label>
        <span class="helper-text" data-error="Fill Text"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Post Vacancy</button>
</form>