<h1>Add New Vacancy</h1>

<form action="/admin/vacancy/add" method="POST">
    <div class="input-field">
        <input placeholder="Vacancy Title" name="title" id="title" type="text" required class="validate">
        <label for="title">Vacancy Title</label>
        <span class="helper-text" data-error="Fill Title"></span>
    </div>
    <div class="input-field">
        <input placeholder="Salary Range" name="salary" id="salary" type="text" required class="validate">
        <label for="title">Salary Range</label>
        <span class="helper-text" data-error="Fill Salary Range"></span>
    </div>
    <div class="input-field">
        <textarea placeholder="Vacancy Text" name="text" id="text" type="text" required class="validate materialize-textarea"></textarea>
        <label for="text">Vacancy Text</label>
        <span class="helper-text" data-error="Fill Text"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Post Vacancy</button>
</form>