<h1>Dashboard</h1>

<div class="card hoverable">
    <div class="card-content">
        <a href="/admin/vacancy" class="card-title">Manage Vacancies</a>
    </div>
</div>

<div class="card hoverable">
    <div class="card-content">
        <a href="/admin/subscribers" class="card-title">Manage Subscribers</a>
    </div>
</div>

<div class="card hoverable">
    <div class="card-content">
        <a href="/admin/applicants" class="card-title">Manage Applicants</a>
    </div>
</div>