
<h1>Delete <b>"{{data.title}}"</b> Vacancy?</h1>
<hr>
<form action="/admin/vacancy/delete" method="POST">
   
    <input type="hidden" name="id" value="{{data.id}}">

    <button class="btn btn-primary">Delete Vacancy</button>
    <a class="btn grey" href="/admin/vacancy">Cancel</a>
</form>