<h1 class="center-align">Admin Login</h1>
<form action="/admin/login" method="POST" class="login-form">
    <div class="input-field">
        <input placeholder="Login" name="login" id="login" type="text" required class="validate">
        <label for="title">Login</label>
        <span class="helper-text" data-error="Fill Login"></span>
    </div>
    <div class="input-field">
        <input placeholder="Password" name="password" id="password" type="password" required class="validate">
        <label for="title">Password</label>
        <span class="helper-text" data-error="Fill Password"></span>
    </div>

    <button type="submit" class="btn btn-primary">Log In</button>
</form>