<h4>Subscribe to stay tuned with new vacancies:</h4>
<div class="spacer-md"></div>
<p class="form-message alert js-alert" style="display: none;"></p>
<p class="form-message success js-success" style="display: none;"></p>

<form action="/mail/subscribe" method="POST" id="subscribe">
    <div class="input-field">
        <input placeholder="E-mail" name="email" id="email" type="email" required class="validate">
        <label for="title">E-mail</label>
        <span class="helper-text" data-error="Fill E-mail"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn green btn-secondary" type="submit">Subscribe</button>
</form>
<div class="spacer"></div>
<div class="spacer"></div>