{{> head}}
<body>
    <nav class="red">
        <div class="nav-wrapper container">
            <a href="/admin" class="brand-logo">Admin Panel</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                
                <li><a href="/">Home</a></li>
                {{#if isAdminAuth}}
                    <li><a href="/admin/dashboard">Admin Dashboard</a></li>
                {{/if}}
                {{#if isAdminAuth}}
                    <li><a href="/admin/logout">Log Out</a></li>
                {{/if}}
                {{#if isAdminAuth}}
                    <li><small>Welcome, {{admin.login}}</small></li>
                {{/if}}
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav">
        <ul class="left">
            <li class="{{#if isHome}}active{{/if}}"><a href="/">Home</a></li>
            {{#if isAdminAuth}}
                <li><a href="/vacancies">Admin Dashboard</a></li>
            {{/if}}
        </ul>
    </ul>
        
    <div class="container main-wrapper login-page">
        {{{body}}}
    </div>
{{> foot}}
</body>
</html>