{{> head}}
<body>
    <nav>
        <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Logo</a>
        </div>
    </nav>
    <div class="container main-wrapper">
        {{{body}}}
    </div>
{{> foot}}
</body>
</html>