{{> head}}
<body>
    <nav>
        <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Logo</a>
        </div>
    </nav>
    <nav>
    <div class="nav-wrapper breadcrumbs container">
      <div class="col s12">
        <a href="/vacancies" class="breadcrumb">Back to vacancies</a>
      </div>
    </div>
  </nav>
    <div class="container main-wrapper">
        {{{body}}}
    </div>
{{> foot}}
</body>
</html>